body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    padding: 0;
    margin: 0;

}

p, div, input, button, form, span, a, ul, li {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;

}

p {
    line-height: 1.65em;

}

.container {
    width: 1170px;
    margin: 0 auto;

}

header {
    background: rgba(77,189,254,1);
    background: -moz-linear-gradient(-45deg, rgba(77,189,254,1) 0%, rgba(55,144,217,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(77,189,254,1)), color-stop(100%, rgba(55,144,217,1)));
    background: -webkit-linear-gradient(-45deg, rgba(77,189,254,1) 0%, rgba(55,144,217,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(77,189,254,1) 0%, rgba(55,144,217,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(77,189,254,1) 0%, rgba(55,144,217,1) 100%);
    background: linear-gradient(135deg, rgba(77,189,254,1) 0%, rgba(55,144,217,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dbdfe', endColorstr='#3790d9', GradientType=1 );
    padding-top: 60px;
    color: #fff;
    padding-bottom: 145px;
    
}

.logo {

}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.offer {
    margin-top: 140px;
    width: 560px;
}

.title {
    font-size: 37px;
    margin-bottom: 45px;
    width: 560px;
    
}

.title span {
    font-size: 60px;
}

.intro {
    font-size: 16px;
    width: 400px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 45px;

}

.btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    text-align: center;
    text-decoration: none;
    padding: 20px 0;
    background-color: #ffd429;
    color: black;
    width: 220px;
    height: 57px;
    display: block;
    box-sizing: border-box;
    transition: all 0.5s ease;
}

.btn:hover {
    background: #f7f455;
}

.btn:active {
    background: #f1e317;
}

.desktop {
    
}

.section {
    padding-top: 110px;
    background-color: #fff;
    padding-bottom: 120px;
}

.section-title {
    font-size: 30px;
    text-align: center;
}

.skillSSS {
    display: flex;
    justify-content: space-between;
    margin-top: 75px;

}

.skill {
    width: 295px;
    text-align: center; 
}

.text-travel {
    width: 260px;
}


.skills-title {
    font-size: 20px;
    margin-top: 30px;
}

.title-time {
    margin-top: 35px;
}

.text-skills {
    margin-top: 17px;
}

.section-form {
    padding-top: 105px;
    padding-bottom: 105px;
    background-color: #ecf2f8;
}

.title-form {
    margin-bottom: 57px;
}

.form {
    max-width: 340px;


}

.form-size {
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

.input {
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    width: 340px;
    height: 47px;
    border: 1px solid #bbbbbb;
    padding-left: 27px;
    margin-bottom: 14px;
    
    
}

.btn-form-confirm {
    border: none;
    width: 340px;
    font-size: 16px;
    cursor: pointer;

}

footer {
    font-family: 'Open Sans', sans-serif;
    background-color: #164d7a;
    color :#fff;
    padding-top: 65px;
    padding-bottom: 65px;
    text-align: center;
}